<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 등록</title>
</head>
<body>
    <h1>게시글 등록</h1>
    <form action="/board/insert" method="post" enctype="multipart/form-data">
    <table border="1">
		<tr>
			<th>제목</th>
			<td>
				<input type="text" name="title">
			</td>
		</tr>
		<tr>
			<th>작성자</th>
			<td>
				<input type="text" name="writer">
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<textarea name="content" rows="5" cols="40"></textarea>
			</td>
		</tr>
		<tr>
			<td>파일</td>
			<td>
				<input type="file" name="fileList" multiple="multiple">
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<input type="submit" value="등록">
				<button type="button" onclick="list()">목록</button>
			</td> 
		</tr>
	</table>
    </form>
    <script type="text/javascript">
    	function list() {
			location.href="/board/list"
    	}
    </script>
</body>
</html>