<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 목록</title>
</head>
<body>
    <h1>게시글 목록</h1>

	<a href="/board/insert">글쓰기</a>
	
	<table border="1">
		<thead>
			<tr>
				<th>번호</th>
				<th>제목</th>
				<th>작성자</th>
				<th>등록일</th>
				<th>수정일</th>
			</tr>
		</thead>
		<tbody>
			<th:block th:if="${boardList.isEmpty()}">
				<tr>
					<td colspan="5" align="center">조회된 데이터가 없습니다.</td>
				</tr>
			</th:block>
			<th:block th:each="board : ${boardList}">
				<tr>
					<td><span th:text="${board.no}"></span></td>
					<td>
						<a href="" th:href="|/board/select?id=${board.id}|" th:text="${board.title}"></a>
					</td>
					<td><span th:text="${board.writer}"></span></td>
					<td><span th:text="${board.createdAt}"></span></td>
					<td><span th:text="${board.updatedAt}"></span></td>
				</tr>
			</th:block>
		</tbody>
		
	</table>
</body>
</html>